.sidebar {
  float: right;
  width:23vw;
  display: flex;
  height: fit-content;
  padding-bottom: 30px;
  flex-direction: column;
  background-color: rgb(247, 235, 213);
  border-radius: 30px;
  align-items: center;
  
  
}
.sidebartitle {
  font-size: larger;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 1px solid #a7a4a4;
  border-top: solid 1px #a7a4a4;
  color: #222222;
}
.sidebarItem {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.sidebar > img{
    margin-top: 15px;
    width: 250px;
    height: 250px;
}
